<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ranking</title>
</head>
<body>

    <% @players.each do |player| %>
        <p><%= player.name %>    <%= player.total %></p>
        <%= link_to url(player.id), "çµæœ" %>
        <hr>
    <% end %>
    
</body>
</html>